/* konulara ait yazı tipi start */

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@500&display=swap');

.topicTextFont{
    font-family: 'Gantari', sans-serif;
}

/* konulara ait yazı tipi finish */


body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:smaller;
}


/* konulara ait arkaplan şekillendirmesi */
.topicBackground{
    transition: all 1s ease;
}

/* konulara ait arkaplan şekillendirmesi */
.topicBackground:hover{

}

/* navbar icon boyut */
#logoImg {
    width:40px;
}

/* navbar menü yazı rengi */
.menuText a {
    color: #ff7f00
}

.menuText a:hover{
    color: rgb(255, 255, 255);
}

/* nav-bar arkaplan rengi */
.menuBackground {
    background-color: #333333;
}

/* konu başlıklarına ait animasyon */
.baslik1 {
    font-family: 'Comfortaa', cursive;
    transition: all 1s ease;
    color: rgb(189, 123, 58);
    /* border: 1px solid #000; */
    padding-top:10px;
}

/* konu başlıklarına ait animasyon */
.baslik1:hover{
    color: rgb(0, 0, 0);
    justify-content:space-around;
    transform: translate(-50px, 0px);
}

/* Konu resimlerinin ortalanması */
.imgAlign {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* yazıları resmin yanına ortalamak için verilen padding */
.textCenter {
    padding-top: 80px;
}

/* Konu başlıklarının yazı tipi */
.topicTitle{
    font-family:'Montserrat Alternates', sans-serif;
    text-align: center;
}

/* Konu içerisinde bulunan listelere görsel verdik - Ege Bölgesi ve Doğu Anadolu Bölgesi - */
.typeList {
    list-style-image:url(img/icons8-easy-50.png);
}

.footer{
    position:static;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* border: 1px solid #000; */
}

.footerList li {
    list-style-type: none;
    
}

.footerList {
    padding-right:30px;
    padding-top:3px;
}

.footerList li a {
    transition: all 0.5s ease;
    text-decoration: none;
    color:#000;
}

.footerList li a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px #000000;
    /* text-shadow: 1px 1px 4px rgb(0, 0, 0);  */
    transform: scale(1.0);
    transform: translate(14px);
}

.footerInput:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#footerSocialMediaText {
    margin-left:25px;
    text-decoration: none;
    color:#000;
    font-weight:bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.twitterFont{
    background-image: url(img/twitter\ \(1\).png);
    background-repeat: no-repeat;
    width: max-content;
}

.twitterFont:hover {
    background-image: url(img/twitter\ \(2\).png);
    background-repeat:no-repeat;
}


.instagramFont{
    background-image: url(img/instagram.png);
    background-repeat: no-repeat;
    width: max-content;

}

.instagramFont:hover{
    background-image: url(img/instagram\ \(1\).png);
    background-repeat: no-repeat;
}

.linkedinFont{
    background-image: url(img/linkedin.png);
    background-repeat: no-repeat;
    width: max-content;

}

.linkedinFont:hover{
    background-image: url(img/linkedin\ \(1\).png);
    background-repeat: no-repeat;    
}


/* içindekiler start */

.indextype  a {
    opacity:0.5;

}

.IndexStyle .display-6{
    opacity:0.8;

}

.IndexStyle li {
    display: block;
    float:left;
    margin: 10px ;
}

.IndexStyle li a{
    text-decoration:none;
    color: #333333;
    font-size: larger;
}

.indextype a:hover{
    opacity:0.9;
}

/* içindekiler finish */

.backTop a{
    text-decoration:none;
    color: #000;
    font-variant: small-caps;
    font-size: medium;
    letter-spacing:-1px;
    background: rgb(239,215,255);
    background: linear-gradient(93deg, rgba(239,215,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,251,183,1) 100%);
}

